{
    "jsc":{
        "parser":{
            "syntax": "typescript",
            "decorators": true
        },
        "baseUrl": "./src",  
        "paths": {
            "#Shared/*": [
                "./_Shared/*"
            ],
            "#Category/*": [
                "./Category/*"
            ]
        }
    }
}